#books
  .book
    = link_to "http://www.amazon.com/exec/obidos/tg/detail/-/0966866509/elsadorfmanphoto" do
      = image_tag "shared/books/no_hair_day_book.png"
  .book
    = link_to "http://www.amazon.com/exec/obidos/tg/detail/-/1887123261/elsadorfmanphoto" do
      = image_tag "shared/books/en_famille_book.jpg"
  .book
    = link_to "http://www.amazon.com/exec/obidos/tg/detail/-/0879230991/elsadorfmanphoto" do
      = image_tag "shared/books/housebook_book.jpg"