#books
  .book
    = link_to "#" do
      = image_tag "shared/books/no_hair_day_book.png"
  .book
    = link_to "/categories/2/albums/95" do
      = image_tag "shared/books/en_famille_book.jpg"
  .book
    = link_to "#" do
      = image_tag "shared/books/housebook_book.jpg"