%nav
  .train_line_wrap
    %p.label Ginsburge
    .train_line.ginsburge
      - Album.all.each do |album|
        = link_to "", album, :class => "stop", :label => album.name
  .train_line_wrap
    %p.label No Hair Day
    .train_line.no-hair-day
      - Album.all.each do |album|
        = link_to "", album, :class => "stop", :label => album.name
      - Album.all.each do |album|
        = link_to "", album, :class => "stop", :label => album.name
  .train_line_wrap
    %p.label Portraits
    .train_line.portraits
      - Album.all.each do |album|
        = link_to "", album, :class => "stop", :label => album.name
      - Album.limit(2).each do |album|
        = link_to "", album, :class => "stop", :label => album.name
  .train_line_wrap
    %p.label Essays
    .train_line.essays
      - Album.all.each do |album|
        = link_to "", album, :class => "stop", :label => album.name
      - Album.all.each do |album|
        = link_to "", album, :class => "stop", :label => album.name
      - Album.all.each do |album|
        = link_to "", album, :class => "stop", :label => album.name
  .train_line_wrap
    %p.label Friends
    .train_line.friends
      - Album.all.each do |album|
        = link_to "", album, :class => "stop", :label => album.name
      - Album.limit(4).each do |album|
        = link_to "", album, :class => "stop", :label => album.name