%nav
  %div{:id => "category_nav", :class => "#{@category_name}"}
    #line
    -# %ul{:id => "line_list"}
    %ul{:id => "categories", :class => "category_nav_items #{'sortable_category_nav' if admin_signed_in?}", "data-update-url" => "#{sort_path}", "data-model" => "album"}
      - @links.each do |link|
        = content_tag_for :li, link.resource do
          = link_to link.label, link.dest, :class => (link.selected ? 'selected' : '')
        

