.album_section_fields
  %fieldset.inputs
    %ol.nested-fields
      = f.input :heading
      = f.input :narrative
      #images
        = f.semantic_fields_for :images do |builder|
          = render :partial => "image_fields", :locals => { :f => builder }
        .links
          = link_to_add_fields "Add Inline Image", f, :images
      = link_to_remove_fields "Delete This Section", f