= semantic_form_for @album, :html => { :multipart => true } do |form|
  -if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg
  = form.inputs do
    = form.input :name
    = form.input :narrative
    = form.input :category, :as => :select, :collection => Category.all
    -# #category
    -#   = form.semantic_fields_for :categorizations do |builder|
    -#     = render :partial => "categorization_fields", :locals => { :f => builder }
    -#   .links
    -#     = link_to_add_fields "Add Category", form, :categorizations      
    #images
      = form.semantic_fields_for :images do |builder|
        = render :partial => "image_fields", :locals => { :f => builder }
      .links
        = link_to_add_fields "Add Image", form, :images
    #album_pages
      = form.semantic_fields_for :album_pages do |builder|
        = render :partial => "album_page_fields", :locals => { :f => builder }
      .links
        = link_to_add_fields "Add Page", form, :album_pages
  = form.buttons


  -# = f.semantic_fields_for :images do |image|
  -#   = image.input :resource, :label => "Image File"
  -#   = image_tag image.object.url(:thumb) unless image.object.new_record?