- title "Listing " + pluralize(@albums.size, "Album")

#album-index
  - if admin_signed_in?
    = link_to 'New Album', new_album_path
    %br
  
  - @albums.group_by(&:category_id).each do |c, albums|
    %h2= Category.where(:id => c).first.name
    - albums.each do |album|
      .indexed-album
        %ul
          %li= link_to(album.name, album)
          %li= pluralize(album.images.size, 'image')
          - if admin_signed_in?
            %li
              = link_to "Edit", edit_album_path(album)