- title @album.name, false

.album
  %h1= @album.name

  -# REPLACED BELOW
  -# = simple_format @album.narrative, :class => 'top_narritive'
  -# 
  -# %ul.album_pages
  -#   - @album.album_pages.each do |page|
  -#     %li.album_page
  -#       - unless page.album_page_elements.empty?
  -#         %ul.album_page_elements
  -#           - page.album_page_elements.each do |element|
  -#             %li.album_page_element
  -#               = render_page_element element

  - @sections.each do |section|
      
    .section
      .images
        - section.images.each do |image|
          .image
            = link_to(image_tag(image.url(:inline)), image.url)
      = simple_format section.narrative
	  
  - unless @album.images.empty?
    #gallery
      .jcarousel-skin-3s
        .jcarousel-container
          .jcarousel-clip
            %ul.jcarousel-list
              - @album.images.each do |image|
                %li{:class => "jcarousel-item-#{@album.images.find_index(image)}"}= link_to(image_tag(image.url(:medium)), image.url)
          .jcarousel-prev.jcarousel-prev-disabled{:disabled => "disabled"}
          .jcarousel-next
          
  .disclaimer
    If you see a picture of yourself on this page, and you do not want it to be here,
    = mail_to "elsad@comcast.net", "contact Elsa immediately."

%br

- if admin_signed_in?
  = link_to 'Edit', edit_album_path(@album)
  \|
  = link_to 'Destroy', @album, :confirm => 'Are you sure?', :method => :delete
  \|
  = link_to 'All Albums', albums_path
  \|
  = link_to 'Create Album', new_album_path