- title @album.name, false

.album
  %h1= @album.name
  
  = simple_format @album.narrative, :class => 'top_narritive'
  
  %ul.album_pages
    - @album.album_pages.each do |page|
      %li.album_page
        - unless page.album_page_elements.empty?
          %ul.album_page_elements
            - page.album_page_elements.each do |element|
              %li.album_page_element
                = render_page_element element
  
  #gallery
    #thumbs
      %ul
        - @album.images.each do |image|
          %li
            %a.thumb{:href => image.url}= image_tag(image.url :thumb)

%br

- if admin_signed_in?
  = link_to 'Edit', edit_album_path(@album)
  \|
  = link_to 'Destroy', @album, :confirm => 'Are you sure?', :method => :delete
  \|
= link_to 'Back', albums_path