- title @album.name

%p= simple_format @album.narrative

%ul.album_pages
  - @album.album_pages.each do |page|
    %li.album_page
      - unless page.album_page_elements.empty?
        %ul.album_page_elements
          - page.album_page_elements.each do |element|
            %li.album_page_element
              = render_page_element element






%ul.album_thumbs
  - @album.images.each do |image|
    %li= link_to(image_tag(image.url :thumb), album_image_path(@album, image))

#br

- if admin_signed_in?
  = link_to 'Edit', edit_album_path(@album)
  \|
  = link_to 'Destroy', @album, :confirm => 'Are you sure?', :method => :delete
  \|
= link_to 'Back', albums_path