!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Elsa Dorfman"
    = stylesheet_link_tag "compiled/application"
    = stylesheet_link_tag "compiled/scaffold"
    = stylesheet_link_tag "jquery.lightbox-0.5"
    = formtastic_stylesheet_link_tag
    = javascript_include_tag "jquery.js"
    = javascript_include_tag "jquery.easing.1.3.js"
    = javascript_include_tag "jquery.galleriffic.js"
    = javascript_include_tag "jquery.lightbox-0.5.js"
    = javascript_include_tag "rails.js"
    = javascript_include_tag "application.js"
    = csrf_meta_tag
    = yield(:head)
  %body
    #sidebar
      .train_line_wrap
        .train_line.ginsburge
          - Album.all.each do |album|
            = link_to "", album, :class => "stop", :label => album.name
      .train_line_wrap
        .train_line.no-hair-day
          - Album.all.each do |album|
            = link_to "", album, :class => "stop", :label => album.name
          - Album.all.each do |album|
            = link_to "", album, :class => "stop", :label => album.name
      .train_line_wrap
        .train_line.portraits
          - Album.all.each do |album|
            = link_to "", album, :class => "stop", :label => album.name
          - Album.limit(2).each do |album|
            = link_to "", album, :class => "stop", :label => album.name
      .train_line_wrap
        .train_line.essays
          - Album.all.each do |album|
            = link_to "", album, :class => "stop", :label => album.name
          - Album.all.each do |album|
            = link_to "", album, :class => "stop", :label => album.name
          - Album.all.each do |album|
            = link_to "", album, :class => "stop", :label => album.name
      .train_line_wrap
        .train_line.friends
          - Album.all.each do |album|
            = link_to "", album, :class => "stop", :label => album.name
          - Album.limit(4).each do |album|
            = link_to "", album, :class => "stop", :label => album.name
    #container
      #user_nav
        - if admin_signed_in?
          = "Signed in as " + current_admin.email + ". Not you?"
          = link_to "Sign out", destroy_admin_session_path
        - else
          Are you someone special? 
          = link_to("Sign in!", new_admin_session_path)
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = content_tag :h1, yield(:title) if show_title?
      = yield