!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "Elsa Dorfman"
    = stylesheet_link_tag "compiled/application"
    = stylesheet_link_tag "jquery.lightbox-0.5"
    = formtastic_stylesheet_link_tag
    %script{:src => "http://fast.fonts.com/jsapi/98a8a44f-3b2a-403c-9acf-6269306f1244.js", :type => "text/javascript"}
    = javascript_include_tag "jquery.js"
    = javascript_include_tag "jquery.easing.1.3.js"
    = javascript_include_tag "jquery.galleriffic.js"
    = javascript_include_tag "jquery.lightbox-0.5.js"
    = javascript_include_tag "rails.js"
    = javascript_include_tag "application.js"
    = csrf_meta_tag
    = yield(:head)
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-318900-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #wrap
      #sidebar
        
      #main
        #user_nav
          - if admin_signed_in?
            = "Signed in as " + current_admin.email + ". Not you?"
            = link_to "Sign out", destroy_admin_session_path
            |
            = link_to "CONTROL PANEL", control_path
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        -# = link_to image_tag('/images/shared/elsa_dorfman_still_clickin.png'), root_path
        = link_to image_tag('/images/shared/camera-still-banner-name.gif'), root_path
        #content
          = render_cell :navigation, :primary_tabs
          = content_tag :h1, yield(:title) if show_title?
          = yield
      #right-sidebar
        = link_to image_tag("/images/shared/mail-sm.jpg"), new_subscriber_path
        = link_to image_tag("/images/shared/donate_xs.jpg"), donate_path
        = render_cell :right_sidebar, :books
      #footer
        = render_cell :footer, :copyright